ADMIN_USERNAME=your-admin-login
ADMIN_PASSWORD=replace-with-a-long-random-password
GMAIL_SENDER=sergejizotov03@gmail.com
APPLICATION_RECIPIENTS=sergejizotov98@gmail.com,nsusakin@yandex.ru,konstantan@list.ru
